{% extends 'base.html.twig' %}

{% block pageTitle %}{% endblock %}

{% block body %}
	<div class="container-fluid bg-light py-5 h-100 d-flex align-items-center justify-content-center">
		<div class="container">
			<div class="card justify-content-center border-0 shadow rounded">
				<div class="card-body p-5">
					<h1 class="mb-4 text-center text-primary">
						<i class="fas fa-car"></i>
						Modifier votre véhicule
					</h1>
					{{ form_start(editCarForm, {'attr': {'class': 'g-3'}}) }}
					<div class="md-6">
						<div class="input-group mb-3">
							<span class="input-group-text bg-primary text-white">
								<i class="fas fa-car"></i>
							</span>
							{{ form_widget(editCarForm.brand, {'attr': {'class': 'form-control', 'placeholder': 'Marque'}}) }}
						</div>
					</div>
					<div class="md-6">
						<div class="input-group mb-3">
							<span class="input-group-text bg-primary text-white">
								<i class="fas fa-car"></i>
							</span>
							{{ form_widget(editCarForm.model, {'attr': {'class': 'form-control', 'placeholder': 'Modèle'}}) }}
						</div>
					</div>
					<div class="md-6">
						<div class="input-group mb-3">
							<span class="input-group-text bg-primary text-white">
								<i class="fas fa-user-friends"></i>
							</span>
							{{ form_widget(editCarForm.seats, {'attr': {'class': 'form-control', 'placeholder': 'Nombre de places'}}) }}
						</div>
					</div>
					<div class="col-12 d-flex justify-content-center">
						<button type="submit" class="btn btn-primary mt-3">
							<i class="fas fa-paper-plane"></i>
							Soumettre
						</button>
					</div>
					<div id="rule-list"></div>
					{{ form_end(editCarForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}