{% extends 'base.html.twig' %}

{% block body %}

	{% block content %}
		<div class="card card-1">
			<div class="card-header">
				<h1 class="card-title">Détails du trajet</h1>
			</div>
			<div class="card-body">
				<p>
					<span class="custom-strong">Départ :</span>
					{{ rides.departure }}
				</p>
				<p>
					<span class="custom-strong">Destination :</span>
					{{ rides.destination }}
				</p>
				<p>
					<span class="custom-strong">Nombre de places :</span>
					{{ rides.seats }}
				</p>
				<p>
					<span class="custom-strong">Prix :</span>
					{{ rides.price }}
				</p>
				<p>
					<span class="custom-strong">Date :</span>
					{{ rides.date|date('d/m/Y H:i') }}
				</p>
				<p>
					<span class="custom-strong">Conducteur :</span>
					{{ rides.driver.firstName }}
				</p>
				<h6>Règles :</h6>
				<ul>
					{% for rule in rides.rules %}
						<li>{{ rule.name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endblock %}

{% endblock %}
