{% extends 'base.html.twig' %}

{% block body %}

	{% block content %}
		<div class="card card-1">
			<div class="card-header">
				<h1 class="card-title">Détails du trajet</h1>
			</div>
			<div class="card-body">
				<p>
					<strong>Départ :</strong>
					{{ rides.departure }}
				</p>
				<p>
					<strong>Destination :</strong>
					{{ rides.destination }}
				</p>
				<p>
					<strong>Nombre de places :</strong>
					{{ rides.seats }}
				</p>
				<p>
					<strong>Prix :</strong>
					{{ rides.price }}
				</p>
				<p>
					<strong>Date :</strong>
					{{ rides.date|date('d/m/Y H:i') }}
				</p>
				<p>
					<strong>Conducteur :</strong>
					{{ rides.driver.firstName }}
				</p>
				<h6>Règles :</h6>
				<ul>
					{% for rule in rides.rules %}
						<li>{{ rule.name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endblock %}

{% endblock %}
